<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Soap recipe generator</title>
    </head>
    <body>
        <h1>Soap recipe generator</h1>
        <h2></h2>
        <h3>Main ingredient: {{ mainIngredient }}</h3>
        <h3>Oil ingredient: {{ oilIngredient }}</h3>
        <h3>Benefit: {{ benefit }}</h3>
    <hr></hr>
    <h2> Today's soap ingredient is {{ mainIngredient }} with {{ oilIngredient }}. </h2>
    </body>
</html>