html {
    height: 100%;  
    background-image: linear-gradient(to bottom, rgb(28, 42, 122),rgb(66, 78, 136));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    text-align: center;
    color : rgb(217, 227, 235);
    margin: auto;
}

.main {
  width: 700px;
  margin: auto;
}
  